<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="openilas" connectionString="Data Source=.;User ID=sa;Password=;Initial Catalog=openilas;Persist Security Info=True" />
  </connectionStrings>
</configuration>