<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbHelperProvider" value="System.Data.SqlClient"/>
    <add key="DbHelperConnectionString" value="Data Source=.;User ID=sa;Password=;Initial Catalog=openilas;Persist Security Info=True"/>
  </appSettings>
 </configuration>